<div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3),
                              rgba(0,0,0,0.3)),
                              url('https://source.unsplash.com/random/?<%= list.name %> movie');
                              background-size: cover;
">
  <h2><strong><%= link_to list.name, list_path(list) %></strong></h2>
</div>
